{% extends 'base.html.twig' %}

{% block title %}Qu'est-ce qu'on mange aujourd'hui ?{% endblock %}

{% block body %}
<div class="example-wrapper mx-auto my-12 max-w-4xl w-[95%] bg-white shadow-lg rounded-lg p-10">
    <h1 class="text-5xl font-bold text-blue-700 text-center mb-6">Bienvenue!</h1>
    
    <p class="text-lg text-gray-500 text-center mb-10">
        Découvrez de nouvelles recettes et idées pour vos repas.
    </p>

    <div class="space-y-6">
        <a href="{{ path('app_plats_new') }}" 
           class="block text-center bg-blue-600 text-white text-lg font-semibold py-4 px-6 rounded-lg shadow-md hover:bg-blue-700 transition-all duration-300">
            Ajouter un nouveau plat
        </a>
        
        <a href="{{ path('app_recette_index') }}" 
           class="block text-center bg-green-500 text-white text-lg font-semibold py-4 px-6 rounded-lg shadow-md hover:bg-green-600 transition-all duration-300">
            Voir et gérer les recettes
        </a>
        
        <a href="{{ path('app_ingredient_new') }}" 
           class="block text-center bg-yellow-500 text-white text-lg font-semibold py-4 px-6 rounded-lg shadow-md hover:bg-yellow-600 transition-all duration-300">
            Ajouter des ingrédients
        </a>
    </div>
</div>
{% endblock %}
